* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, verdana, sans-serif;
}

body {
    background-color: #2D2D2D;
}

header {
    width: 55%;
    margin: 0 auto;
    text-align: center;
    height: auto;
    background-color: #5765B7;
    border: 2px solid #5765B7;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Opmaak Main */
main {
    position: absolute;
    left: 26%;
    top: auto;
    margin: 0 auto;
    width: 48%;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    background-color: #4C8D9A;
}

main article {
    height: 100%;
    padding: 15px;
    border-bottom: 2px solid #1ac7ec;
}

main article p {
    padding: 6px 0 6px 0;
}

main article ul {
    padding: 10px 0 10px 21px;
}

main article h2, h3 {
    padding-bottom: 5px;
}

main article#over_mij img {
    width: 150px;
}
main article#muziek p{
    padding-bottom: 10px;
}
main article#muziek div#nieuwste {
    height: 150px;
    width: 30%;
    text-align: center;
    padding-bottom: 10px;
}

main article#muziek div#nieuwste iframe {
    width: 100%;
    height: 100%;
}

main article#muziek div#favorietste {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

main article#muziek div#favorietste iframe {
    width: 33%;
    height: 150px;
}

main article#huisdier div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

main article#huisdier div img {
    width: 32%;
}

/* Opmaak navbar */
footer {
    position: fixed;
    bottom: 200px;
    left: 200px;
}

footer nav {
    text-align: center;
    background-color: #5765b7;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}
footer nav p{
    color: #fff;
}
footer nav ul {
    list-style-type: none;
}

footer nav ul li {
    margin: 10%;
    display: flex;
}

footer nav ul li a {
    display: flex;
    font-size: 16px;
    justify-content: space-evenly;
    background-color: #787FF6;
    padding: 5%;
    text-decoration: none;
    color: #D5D7FF;
    border-radius: 15px;
    width: 200px;
}

@media screen and (max-width: 1650px) {
    footer {
        left: 30;
    }
}
@media screen and (max-width: 1550px) {
    footer {
        left: 0;
    }
}
@media screen and (max-width: 900px) {
    footer {
        left: 0;
    }
    footer nav {
        width: 95px;
    }
}
footer nav ul li a:hover {
    background-color: #D5D7FF;
    text-decoration: underline;
    color: #787FF6;
}